*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.DS_Store
.Python
.cache
.coverage
.installed.cfg
.ipynb_checkpoints
.tox/
Pipfile
Pipfile.lock
__pycache__/
artifact-rejection/__pycache__/
artifact-rejection/eeg-data.zip
artifact-rejection/eeg-data/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eeg-data.zip
eeg-data/**
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
scratch/
sdist/
target/
var/
